# Virtual Environment
.venv/

# Environment Variables
.env
.envrc

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Logs
*.log
logfile

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/